[Unit]
Description=checksum storage service
After=network.target

[Service]
ExecStart=/bin/bash _main.bash
WorkingDirectory=/home/pi/pi_scripts/pi_scripts_on_boot
StandardOutput=inherit
StandardError=inherit
Restart=no
User=pi

[Install]
WantedBy=multi-user.target
